@font-face {
    font-family: 'Montserrat';
    src: url('../public/fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../public/fonts/Montserrat-Bold.ttf');
}

:root{
    --blue: rgb(196, 241, 251);
    --blue-light:rgb(222, 245, 250);
    --blue-medium:rgb(98, 149, 216);
    --black: rgb(54, 54, 54);
}

*{
    font-size: 15px;
    font-weight: 700;
    color: rgb(50, 89, 152);
}

body{
    font-family: 'montserrat';
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
}

header ul{
    display: flex;
    width: 100%;
    font-size: 16px;
}

nav{
    position: fixed;
    margin: .5rem 0 1rem .5rem;
    padding: 0;
    height: calc(100vh - 4.5rem);
    width: 20%;
    background-color: var(--blue-light);
}

nav span{
    padding: 1rem 1.5rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size:12px;
    font-weight: 700;
}

main{
    padding-left: 22.5%;
    padding-top: 1rem;
}

table{
    width:35rem;
    border: 1px solid gray;
}

tr td{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 25%;
    border-bottom:1px solid gray;
    border-top:1px solid gray;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

nav ul li{
    text-align: center;
    list-style-type: none;
    padding: 1.5rem 1.5rem;
    cursor: pointer;
    font-weight: 500;
}

ul li{
    list-style-type: disc;
}

nav ul li:hover, nav span:hover {
    background-color: var(--blue);
}

form label{
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 5px;
    padding-left: 10px;
}

form div{
    display: flex;
    flex-direction: column;
    margin: .75rem 0;
}

form input{
    padding: .25rem 0.75rem;
    width: 15rem;
    border-radius: 15px;
    font-weight: 700;
}

button{
    margin-top: 1rem;
    padding: 0.5rem 0;
    width: 10rem;
    border-radius: 5px;
    background-color: var(--blue-medium) !important;
    color:white;
}

form button:hover{
    background-color: black !important;
}

form a{
    font-weight: 600;
}

select{
    height: 2.5rem;
    border-radius: 5px;
    border: 2px solid var(--blue);
    padding-left: .5rem;
}