@font-face {
    font-family: 'Montserrat';
    src: url('../public/fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../public/fonts/Montserrat-Bold.ttf');
}

:root{
    --blue: rgb(92, 183, 222);
    --black: rgb(54, 54, 54);
}

body{
    font-family: 'montserrat';
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
}

header ul{
    display: flex;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
}

nav{
    width: 20%;
}

ul{
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style-type: none;
}

form label{
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 5px;
    padding-left: 10px;
}

form div{
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}

form input[type="text"], form input[type="password"]{
    padding: .25rem 0.75rem;
    width: 15rem;
    border-radius: 15px;
}

form button{
    margin-top: 1rem;
    padding: 0.5rem 0;
    width: 10rem;
    background-color: var(--black) !important;
    color:white;
}

form button:hover{
    background-color: black !important;
}